<% if @images %>
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-xs-6 col-md-3">
        <%= render 'image_thumbnail', image: image %>
      </div>
    <% end %>
  </div>
<% end %>
